h1 {
    color: blue; 
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
h2,h3,h4,h5 {
    color: rgb(128, 128, 128);
    font-size: large;
    font-weight: 200;
}
h6 {
    margin-bottom: 15px;
    color: rgb(128, 128, 128);
    font-size: large;
    font-weight: 200;
}
#text {
    font-size: 12px;
    font-weight: 200;
}
